/* Mobile */
@media screen and (max-width: 480px) {
    /* Container */
    .container {
        width: 305px;
    }
    /* Riga */
    .row {
        flex-direction: column;
    }
    /* Sezione "Lessons" */
    .lessons {
        padding-bottom: 3rem;
    }
    /* Colonne della sezione "Lessons" */
    .lessons .col {
        width: 100%;
    }
    /* Sezione "Steps" */
    .steps {
        margin: 0px;
    }
    /* Colonne della sezione "Steps" */
    .steps .col {
        width: 100%;
    }
    /* Sezione "Why-us" */
    .why-us {
        background-color: #222222;
        padding: 3rem 0px;
        margin-bottom: 0px;
    }
    /* Colonne della sezione "Why-us" */
    .why-us .col {
        width: 100%;
    }
}